.Header {
  display: grid;
  padding: 8.3rem 8.3rem 3.3rem;
  margin-bottom: 0;
  align-items: center;
  gap: 32px;
  // background-image: url("https://i.ibb.co/Zz2F5KH/7.jpg");
  // background-image: url("https://drive.google.com/uc?id=1tky_DspWbSVD5Rl1LFd3xbS6mNgYHQ9t");

  background-image: url("https://i.ibb.co/C672wdQ/com-7.webp");
  background-size: calc(100%);
  background-position: center;
  height: 80vh;
  background-repeat: no-repeat;
}

.desc {
  background-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
  background-color: transparent;
  align-items: center;
}

.title {
  color: white;
  font-size: 6.5rem;
  line-height: 5.5rem;
  font-weight: 700;
  align-self: stretch;
  background-color: transparent;
}


@media only screen and (max-width: 1200px) {
  .Header {
    padding: 0 8.3rem 0;
    text-align: center;
  }

  .content {
    align-items: center;
  }

  .title {
    font-size: 3.8rem;
    line-height: 3rem;
    margin-bottom: 0.5;
  }

}