// .section {
//     display: grid;
//     padding: 5rem 5.3rem 4rem;
//     margin: 2rem 0 3rem;
//     justify-content: space-evenly;
//     align-content: stretch;
//     gap: 10px;
// }

@keyframes in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes out {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}


.toRight {
    transform: translateX(50%);
    transition: transform opacity 2s;
    animation-name: out;
    animation-duration: 3.15s;
    animation-delay: -2s;
}

.toLeft {
    transform: translateX(-50%);
    transition: transform opacity 2s;
    animation-name: out;
    animation-duration: 3.15s;
    animation-delay: -2s;
}

.removed {
    opacity: 0;
}

.animation {
    transition: transform 2s;
}



/*****next and previous buttons*****/

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttons button {
    margin: 0 2rem;
}

#button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

#button.wider {
    width: 5rem;
    height: auto;
}

#button.wider .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

#button.wider .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#button.wider .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#button.wider .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#button:hover .circle {
    width: 100%;
}

#button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.previous {
    rotate: 180deg;
}


/*******/


.containerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sectionContainer {
    width: 90%;
    list-style: none;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

}

.title {
    color: var(--heading-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.card {
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 15px 5px rgba(89, 161, 127, 0.3);

}

.card article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    margin: 1rem auto;
    width: 90%;
    height: 35vh;
    object-fit: fill;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.75rem;
    margin-bottom: 1.7rem;
}

.cardDescription {
    margin: 0 1rem 1rem 1rem;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolioLink {
    margin: 1.2rem 0;
    text-decoration: none;
    font-weight: 600;
}

.action {
    display: inline-block;
    border-bottom: 1.33px solid var(--primary);
    padding-bottom: 10.6px;
}

.card:hover path {
    stroke: #006b6a;
}


.btnGithub {
    color: var(--white);
    background-color: var(--github);
    border: var(--github);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
    column-gap: 16px;
}

.btnGithub:hover {
    color: var(--github);
    background-color: var(--white);
}


@media only screen and (max-width: 1200px) {

    .sectionContainer {
        width: auto;
        margin: 2rem 0 0 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }

    .containerBox {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 23px;
        line-height: 30px;
    }

    .cardDescription {
        font-size: 1rem;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card img {
        height: 25vh;
    }

    .container {
        align-items: center;
    }

    .containerBox {
        gap: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .buttons{
        display: flex;
    }
}